<div
  class="w-full grid font-spartan"
  style="
    background-image: url(../../../../assets/images/cookingpic2.jpg);
    background-size: cover;
  "
>
  <!-- h1 div -->
  <div
    class="p-10 text-4xl sm:text-5xl md:text-7xl text-center font-bold text-teal-100"
  >
    <h1>About Us</h1>
  </div>
  <!-- p div -->
  <div class="p-10 md:p-28 text-center md:text-2xl sm:text-xl text-lg">
    <p
      class="border-2 border-indigo-400 rounded-lg p-2 bg-teal-50 opacity-80  text-indigo-950 font-bold"
    >
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum velit
      tenetur quidem accusamus assumenda voluptates aspernatur cum quae! Nobis
      distinctio numquam laborum quasi. Veniam dolores assumenda praesentium
      quisquam voluptate rerum consectetur harum eos delectus reprehenderit,
      reiciendis soluta, totam provident non eaque saepe dignissimos, fugit odit
      enim dolorum nulla numquam explicabo aut doloribus. Repellat eius qui,
      eligendi accusantium aliquid voluptates rerum. Eaque commodi quisquam
      accusamus corrupti impedit nesciunt sunt dicta ipsum magni, blanditiis quo
      voluptates sed ipsa praesentium possimus explicabo magnam animi ullam
      veniam quia vero, perferendis consequatur delectus. Iure voluptates atque
      blanditiis odio, repellat natus doloremque molestiae quia quas temporibus.
    </p>
  </div>
</div>
<app-footer></app-footer>
