<div class="relative mx-auto h-72 w-10/12 rounded-lg">
    <img class="h-full w-full rounded-xl object-cover" src="{{ MealImage }}" />

    <div class="absolute inset-0 rounded-xl bg-gray-700 opacity-30"></div>
    <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center"
    >
        <h2 class="text-xl font-bold text-white sm:text-3xl">
            {{ MealTitle }}
        </h2>
        <div class="mt-10">
            <app-button buttonText="Recipe" (buttonClick)="showData()"/>
        </div>
    </div>
</div>
