<div class=" rounded-lg w-10/12 h-72 relative">
  <img
    src="../../../assets/images/cookingpic2.jpg"
    class="w-full object-cover rounded-xl h-full"
  />
  <div class="absolute inset-0 bg-gray-700 opacity-30 rounded-xl"></div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center"
  >
    <h2 class="text-white text-3xl font-bold sm:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
      ipsam.
    </h2>
    <div class=" mt-10">
    <a
      routerLink="/meals"
      class="relative inline-flex items-center justify-start px-5 py-3 overflow-hidden font-medium transition-all bg-colors-secondary rounded-full hover:bg-colors-accent group"
    >
      <span
        class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-colors-accent rounded-full"
      ></span>
      <span
        class="relative w-full text-left text-colors-text transition-colors duration-200 ease-in-out group-hover:text-colors-primary sm:text-2xl text-xl"
        >Try Now</span
      >
    </a>
  </div>
  </div>
</div>
