<div class="w-full bg-colors-background font-spartan text-colors-text">
    <h1 class="p-8 text-5xl sm:text-7xl">About</h1>
    <div class="grid grid-cols-1 place-items-center gap-4 p-5 sm:grid-cols-2">
        <div class="rounded-lg">
            <img
                src="../../../../assets/images/about-img1.jpg"
                alt=""
                class="rounded-lg object-cover"
            />
        </div>
        <div class="">
            <h1 class="text-left text-4xl sm:text-center sm:text-6xl lg:pt-36">
                Website
            </h1>
            <h2 class="text-pretty p-6 text-2xl sm:p-8 sm:text-4xl lg:p-20">
                Have a quick and easy access to food Meals and their respective
                recipes. With the AID of the spooncular API this has been made
                easy.
            </h2>
        </div>
    </div>
    <div class="grid grid-cols-1 place-items-center gap-4 p-5 sm:grid-cols-2">
        <div class="order-2 sm:order-1">
            <h2
                class="p-6 text-left text-2xl sm:p-8 sm:text-4xl lg:px-20 lg:pt-72"
            >
                No need to worry on what to cook for your friends and family.
            </h2>
        </div>
        <div class="order-1 sm:order-2">
            <img
                src="../../../../assets/images/about-img2.jpg"
                alt=""
                class="rounded-lg object-cover"
            />
        </div>
    </div>
    <div class="mt-44">
        <app-footer />
    </div>
</div>
