<div class="font-spartan">
    <div mat-dialog-title>
        <h2 class="font-bold sm:text-3xl">
            Recipe for {{ data.recipeTitle }}.
        </h2>
    </div>
    <mat-dialog-content class="text-red-400">
        <div class="text-justify text-2xl text-colors-text sm:text-xl">
            {{ data.recipeInstructions }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            mat-dialog-close
            class="group relative inline-flex items-center justify-start overflow-hidden rounded-full bg-colors-secondary px-5 py-3 font-medium transition-all hover:bg-colors-accent"
        >
            <span
                class="absolute inset-0 rounded-full border-0 border-colors-accent transition-all duration-100 ease-linear group-hover:border-[25px]"
            ></span>
            <span
                class="relative w-full text-left text-xl text-colors-text transition-colors duration-200 ease-in-out group-hover:text-colors-primary sm:text-2xl"
                >Close</span
            >
        </button>
    </mat-dialog-actions>
</div>
