<footer class="bg-colors-background text-colors-text font-spartan">
  <div class="mx-auto w-full max-w-screen-2xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a
          href="https://github.com/Jmike-dev/hidden_gems"
          class="flex items-center sm:text-5xl text-2xl"
        >
          <fa-icon class="" [icon]="faGithub"></fa-icon>
          <span
            class="self-center sm:text-4xl text-3xl  font-semibold whitespace-nowrap mx-4 "
            >Code</span
          >
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 sm:text-3xl text-2xl font-semibold  uppercase "
          >
            Resources
          </h2>
          <ul class=" sm:text-2xl text-xl ">
            <li class="mb-4">
              <a href="https://spoonacular.com/food-api" class="hover:underline"
                >spoonacular API</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >Tailwind CSS</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 sm:text-3xl  text-2xl font-semibold  uppercase "
          >
            Follow me
          </h2>
          <ul class="  text-xl sm:text-2xl">
            <li class="mb-4">
              <a href="https://github.com/Jmike-dev" class="hover:underline"
                >Github</a
              >
            </li>
            <li>

            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 sm:text-3xl  text-2xl font-semibold  uppercase "
          >
            Legal
          </h2>
          <ul class=" sm:text-2xl text-xl ">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-colors-primary sm:mx-auto  lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-2xl text-colors-text sm:text-center "
        >© 2024
        <a href="https://github.com/Jmike-dev" class="hover:underline"
          >jmike-dev</a
        >. 
      </span>
    </div>
  </div>
</footer>
