<div class="w-full h-screen font-spartan bg-colors-background">
  <!-- input div  -->
  <form
    (submit)="search()"
    [formGroup]="appForm"
    class="bg-colors-accent p-1 flex justify-center sm:w-1/4 w-3/4 mx-auto rounded-full"
  >
    <!-- text input -->
    <input
      formControlName="mealInput"
      name="mealInput"
      type="text"
      placeholder="Search Your Next Meal"
      class="py-4 w-full rounded-full text-center bg-colors-background text-colors-text sm:text-2xl text-xl"
    />
    <div class="px-1 my-auto">
      <button
        type="submit"
        class="relative inline-flex items-center justify-start px-5 py-2 overflow-hidden font-bold rounded-full group bg-colors-secondary sm:text-2xl text-xl"
      >
        <span
          class="w-32 h-32 rotate-45 translate-x-12 -translate-y-2 absolute left-0 top-0 bg-colors-text opacity-[3%]"
        ></span>
        <span
          class="absolute top-0 left-0 w-48 h-48 -mt-1 transition-all duration-500 ease-in-out rotate-45 -translate-x-56 -translate-y-24 bg-colors-text opacity-100 group-hover:-translate-x-8"
        ></span>
        <h1
          class="relative w-full text-colors-text transition-colors duration-200 ease-in-out group-hover:text-colors-background mx-auto"
        >
          Search
        </h1>
      </button>
    </div>
  </form>
  <div class="bg-colors-background min-h-screen">
    <div
      *ngIf="meals"
      class="gap-12 mt-10 grid sm:grid-cols-3 grid-cols-1 place-items-center mx-2 bg-colors-background min-h-screen"
    >
      <div *ngFor="let meal of meals" class="rounded-lg w-10/12 h-72 relative">
        <img
          src="{{ meal.image }}"
          class="w-full object-cover rounded-xl h-full"
        />

        <div class="absolute inset-0 bg-gray-700 opacity-30 rounded-xl"></div>
        <div
          class="absolute inset-0 flex flex-col items-center justify-center text-center"
        >
          <h2 class="text-white text-3xl font-bold sm:text-xl">
            {{ meal.title }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bg-colors-background">
    <div
    class="gap-12 mt-10 grid sm:grid-cols-3 grid-cols-1 place-items-center mx-2 min-h-screen w-full"
    >
    <app-restaurants-page />
    <app-restaurants-page />
    <app-restaurants-page />
    <app-restaurants-page />
    <app-restaurants-page />
    <app-restaurants-page />
    </div>
  </div> -->
  <!-- <app-recipe-dialog></app-recipe-dialog> -->
</div>
