<div
  class="w-full h-screen"
  style="
    background-image: url(&quot;../../../assets/images/circle-scatter-haikei.png&quot;);
    background-size: cover;
  "
>
  <form (ngSubmit)="search()" class="p-4 flex justify-center font-spartan">
    <!-- input div  -->
    <div class="relative">
      <!-- text input -->
      <input
        [(ngModel)]="mealInput"
        name="mealInput"
        type="text"
        placeholder="enter text here"
        class="block p-4 pl-10 text-base text-black border border-teal-300 rounded-xl focus:ring-blue-500 focus:border-blue-500 bg-indigo-100 dark:border-teal-800 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 sm:mt-2 md:mt-0"
      />
      <!-- submit button -->
      <input
        type="submit"
        value="Search"
        class="absolute top-2 right-1 sm:top-4 md:top-2 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base p-2 dark:focus:ring-blue-800 bg-teal-400 hover:bg-primary-indigo text-green-950 hover:text-primary-teal"
      />
    </div>
  </form>
  <div
    class="font-spartan"
    style="
      background-image: url(&quot;../../../assets/images/circle-scatter-haikei.png&quot;);
      background-size: cover;
    "
  >
    <div *ngIf="meals" class="grid grid-cols-2 gap-2 md:grid-cols-5">
      <div *ngFor="let meal of meals">
        <div
          class="bg-indigo-600 rounded-lg text-base m-4 flex flex-col h-60 md:h-80 sm:h-96 max-w-sm border border-indigo-600 shadow-md shadow-indigo-200"
        >
          <!-- image div -->
          <div>
            <img
              src="{{ meal.image }}"
              class="rounded-t-lg w-full hover:scale-110 transition duration-500 cursor-pointer h-40"
            />
          </div>
          <!-- text box -->
          <div class="p-2">
            <h2
              class="mb-2 text-base font-bold tracking-tight text-gray-900 dark:text-primary-teal"
            >
              {{ meal.title }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
