<div class="relative sm:max-w-7xl max-w-sm mx-auto sm:my-20 my-10">
  <img
    class="h-96 w-full object-cover rounded-xl"
    src="../../../../assets/images/cookingpic2.jpg"
    alt="Random image"
  />
  <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-xl"></div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center"
  >
    <h2 class="text-white text-3xl font-bold sm:text-5xl">
      Cook Delicious Food With Amazing Recipes
    </h2>
    <div class="mt-10">
      <a
        routerLink="/meals"
        class="relative inline-flex items-center justify-start px-5 py-3 overflow-hidden font-medium transition-all bg-colors-secondary rounded-full hover:bg-colors-accent group"
      >
        <span
          class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-colors-accent rounded-full"
        ></span>
        <span
          class="relative w-full text-left text-colors-text transition-colors duration-200 ease-in-out group-hover:text-colors-primary sm:text-2xl text-xl"
          >Try Now</span
        >
      </a>
    </div>
  </div>
</div>
<div>
  <div
    class="relative sm:max-w-screen-2xl max-w-sm mx-auto sm:my-20 my-10 rounded-xl bg-colors-secondary flex h-5/6 text-colors-text font-spartan flex-col sm:flex-row"
  >
    <div class="sm:w-2/3 w-full">
      <img
        class="h-full w-full object-cover sm:rounded-xl rounded-t-xl"
        src="../../../../assets/images/cookingpic1.jpg"
        alt="Random image"
      />
    </div>
    <div class="sm:w-1/3 w-full items-center justify-center text-center flex">
      <h1 class="text-4xl px-4 font-bold my-12 sm:my-0 sm:text-5xl">
        Make Amazing Dishes For Your Friends And Families.
      </h1>
    </div>
  </div>
</div>
<app-footer></app-footer>
