<nav
  class="w-full p-2 bg-indigo-500 rounded-b-md md:flex md:justify-center md:items-center md:space-x-10 space-x-3"
>
  <a
    class="font-spartan bg-teal-500 rounded-xl p-1 text-center hover:bg-green-400 text-green-950 hover:text-indigo-500 text-2xl transition duration-300 ease-in-out sm:text-3xl hover:shadow-lg"
    routerLink="/home"
  >
    Home</a
  >
  <a
    class="font-spartan bg-teal-500 rounded-xl p-1 text-center hover:bg-green-400 text-green-950 hover:text-indigo-500  text-2xl transition duration-300 ease-in-out sm:text-3xl hover:shadow-lg"
    routerLink="/about"
  >
    About</a
  >
</nav>
